<div class="col s12">
    <% list.forEach(function(friend){ %>
        <div class="col s4 m2">
            <div class="card user-card center-align">
                <div class="content" onclick="openProfile('<%= friend.id %>')">
                    <div class="person-avatar circle" face="<%= friend.avatar %>" color="<%= friend.avatarColor %>"
                         size="40" online="<%= friend.online %>">
                        <% if(friend.unreadCount > 0){ %>
                            <div class="icon-alert"></div>
                        <% } %>
                    </div>
                    <span class="<%= friend.gender %>">@<%= friend.username %></span>
                </div>
                <div class="action grey lighten-2 green-text">
                    <a href="#!">
                        <i class="material-icons"
                           onclick="apretaste.send({command: 'chat', data: {userId: '<%= friend.id %>'}})">
                            chat
                        </i>
                    </a>
                </div>
            </div>
        </div>
    <% }) %>

    <% if(list.length == 0){ %>
        <p class="middle-center center grey-text">No hay nadie cercano para chatear.</p>
    <% } %>
</div>