<div class="row" id="chat-row">
    <div class="col s12">
        <ul class="collection profile">
            <li class="collection-item avatar">
                <div class="person-avatar circle left open-profile"
                     color = "<%= avatarColor %>"
                     size = "45"
                     online = "<%= online %>"
                     face = "<%= avatar %>"
                     data-username = "<%= username %>"
                    <% if(isInfluencer){ %>
                     creator_image="{{APP_SERVICE_PATH}}/images/<%= username %>.png"
                     state="gold"
                    <% } %>
                ></div>

                <span class="title <%= gender %> open-profile" data-username = "<%= username %>">@<%= username %></span>
                <p class="valign-wrapper">
                    <span class="clear">
                        <% if(isInfluencer){ %>
                            <%= influencerData.firstCategoryCaption %>
                            <% if(influencerData.secondCategoryCaption != null){ %>
                                | <%= influencerData.secondCategoryCaption %>
                            <% } %>
                        <% } else { %>
                            <i class="fa fa-bolt"></i> <%= experience %>
                        <% } %>
                    </span>
                </p>
                <a onclick="apretaste.back()" class="secondary-content green-text">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
        </ul>

        <% if(messages.length > 0){ %>
            <ul class="chat">
                <% messages.forEach(function(message){ %>
                    <% if (message.username == myUsername) message.class = "right"; else message.class = "left"; %>

                    <li class="<%= message.class %>" id="<%= message.id %>">
                        <div class = "person-avatar message-avatar circle open-profile"
                             face = "<%= message.avatar %>"
                             color = "<%= message.avatarColor %>"
                             size = "30"
                             data-username = "<%= message.username %>"
                            <% if(message.isInfluencer){ %>
                             creator_image = "{{APP_SERVICE_PATH}}/images/<%= message.username %>.png"
                             state = "gold"
                            <% } %>
                        ></div>
                        <div class="head">
                            <a class="<%= message.gender %> open-profile" data-username = "<%= message.username %>">
                                @<%= message.username %>
                            </a>
                            <span class="date"><%= moment(message.sent).format('DD/MM/Y hh:mm a') %></span>
                        </div>
                        <span class="text">
                            <% if(message.image){ %>
                                <% var src = '{{APP_IMAGE_PATH}}/' + message.image %>
                                <% if(typeof apretaste.showImage != 'undefined'){ %>
                                    <img class="responsive-img" style="width: 100%; object-fit: cover;"
                                         src="<%= src %>" onclick="apretaste.showImage('<%= src %>')">
                                <% } else { %>
                                    <img class="responsive-img materialboxed" style="width: 100%; object-fit: cover;"
                                         src="<%= src %>">
                                <% } %>
                            <% } %>
                            <% if(message.voice){ %>
                                <% var audioSrc = '{{APP_IMAGE_PATH}}/' + message.voice %>
                                <audio id="audio" src="<%= audioSrc %>" preload="auto" controls></audio>
                            <% } %>

                            <% if(message.image && message.text != ''){ %>
                                <br>
                            <% } %>
                            <%- message.text %>
                        </span>
                        <% if(message.username == myUsername){ %>
                            <br>
                            <a href="#!" class="small red-text deleteButton delete-message" onclick="deleteMessage(<%= message.id %>)">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        <% }else{ %>
            <p id="nochats" class="center grey-text text-lighten-1">Usted no tiene ningún mensaje con este usuario.</p>
        <% } %>
    </div>

    <!-- MESSAGE BOX -->
    <div class="valign-wrapper container white" id="messageField">
        <div class="col s9 m10" id="messageBox">
            <textarea id="message" placeholder="Escribe un mensaje" class="materialize-textarea"></textarea>
        </div>
        <div class="col s3 m2 right-align">
            <input type="file" id="picture" accept="image/*" class="hide">
            <% if (typeof apretaste.recordVoice != 'undefined') { %>
                <i class="material-icons" onclick="recordVoiceNote()">keyboard_voice</i>
            <% } %>
            <i class="material-icons" onclick="loadImage()">photo</i>
            <i class="material-icons" onclick="sendMessage()">send</i>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal" data-value="">
    <div class="modal-content">
        <p>
            ¿Está seguro que quiere borrar su conversación con @<span id="deleteModalUsername"></span>?
            Ninguno podrá ver los chats nunca más.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="deleteChat()" class="modal-close waves-effect waves-green btn-flat green-text">Eliminar</a>
    </div>
</div>

<%- '<serviceImgPath data="{{APP_SERVICE_PATH}}/images/"></serviceImgPath>' %>