<div class="row" id="chat-row" onload="scrollToEnd()">
	<!-- NO CHATS TEXT -->
	<% if(messages.length <= 0) { %>
		<p id="nochats" class="center grey-text text-lighten-1">Usted no tiene ningún mensaje con este usuario.</p>
	<% } %>

	<!-- BUBBLE CHATS -->
	<div class="chat">
		<% messages.forEach(function(message) { %>
			<% var owner = message.username == username ? 'you' : 'me'; %>

			<div id="<%= message.id %>" class="bubble <%= owner %>">
				<% if (message.username == username) { %>
					<b class="<%= gender %>">@<%= username %></b><br>
				<% } %>
				<msg><%= message.text %></msg>
				<br>
				<small><%= message.sent %></small>
			</div>
		<% }) %>
	</div>

	<div class="bottom-space"></div>

	<!-- MESSAGE BOX -->
	<div class="valign-wrapper container white" id="messageField">
		<div class="col s2 m1 center-align">
			<i class="material-icons green-text" onclick="apretaste.send({'command':'CHAT'})">arrow_back</i>
		</div>
		<div class="col s8 m10">
			<textarea id="message" placeholder="Escribe un mensaje" class="materialize-textarea"></textarea>
		</div>
		<div class="col s2 m1 center-align">
			<i class="material-icons green-text" onclick="sendMessage('<%= id %>')">send</i>
		</div>
	</div>
</div>