<div class="row" style="margin-bottom: 4rem">
    <% if(chats.length > 0) { %>
        <section>
            <ul class="collection" id="chats-list">
                <% chats.forEach(function(chat) { %>
                    <li class="collection-item avatar openchat" id="<%= chat.id %>" username='<%= chat.username %>'>
                        <a onclick="openChat()">
                            <!-- PICTURE -->
                            <div class="avatar circle"
                                 style="background: <%= chat.gender == "M" ? "dodgerblue" : (chat.gender == "F" ? "#e61966" : "#707070") %>">
                                <i class="material-icons">person</i>
                            </div>

                            <!-- FIRST NAME -->
                            <h6 class="black-text name">@<%= chat.username %></h6>
                            <% if(chat.online == "1"){ %>
                                <i class="material-icons online-icon">brightness_1</i>
                                <%if(chat.unread > 0){
                                var left = chat.unread < 10 ? 52 : 49;
                                %>
                                <small id="unread-counter" class="white-text" style="left: <%=left%>px;"><%= chat.unread %></small>
                                <%}%>
                            <% } %>
                        </a>
                        <!-- TEXT -->
                        <msg onclick="openChat()">
                            <% if(!chat.last_note_read && chat.last_note_user != myuser){ %>
                                <b><%= chat.last_note %></b>
                            <% }else{ %>
                                <%= chat.last_note %>
                            <% } %>
                        </msg>
                        <span class="secondary-content">
                            <i class="material-icons" onclick="deleteModalOpen()">delete</i>
                        </span>
                        <span id="last_sent">
						    <small class="right black-text"><%= chat.last_sent %></small>
					    </span>
                    </li>

                <% }) %>
            </ul>
        </section>
    <% } %>
</div>

<div class="fixed-action-btn">
    <a onclick="apretaste.send({'command':'CHAT ONLINE'})" class="btn-floating btn-large waves-effect waves-light modal-trigger">
        <i class="large material-icons">chat</i>
    </a>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="deleteChat()" class="modal-close waves-effect waves-green btn-flat green-text">Eliminar</a>
    </div>
</div>
