<div class="col s12">
    <div class="tags">
        <div class="chip tiny">
            <i class="fa fa-user-alt"></i>
            <span id="friendsCounter">
					<%= friends.length %> <%= friends.length > 1 ? 'amigos' : 'amigo' %>
				</span>
        </div>

        <span class="chip tiny" onclick="openSearch()">
                <i class="fas fa-search"></i>
                <span class="hide filter">
                    <input id="buscar" onkeyup="buscar()" type="" style="border: none;" onfocusout="closeSearch()">
                </span>
            </span>
    </div>
</div>


<% friends.forEach(function(friend){ %>
<div class="col s4 m3 user-card-col" data-value="<%= friend.username %>">
    <div class="card user-card center-align">
        <div class="content" onclick="openProfile('<%= friend.id %>')">
            <% if (!(friend.is_influencer * 1)) { %>

            <div class="person-avatar circle" face="<%= friend.avatar %>" color="<%= friend.avatarColor %>"
                 size="40" online="<%= friend.online %>">
                <% } else { %>
                <div class="person-avatar circle"
                     creator_image="{{APP_SERVICE_PATH}}/images/<%= friend.username %>.png"
                     state="gold"
                     color="<%= friend.avatarColor %>"
                     size="40" online="<%= friend.online %>"
                     onclick="openProfile('<%= friend.username %>')"
                >
                    <% } %>

                    <% if(friend.unreadCount > 0){ %>
                        <div class="icon-alert"></div>
                    <% } %>
                </div>
                <span class="<%= friend.gender %>">@<%= friend.username %></span>

            </div>
            <div class="action grey lighten-2 green-text">
                <a>
                    <i class="fa fa-lg fa-comments"
                       onclick="apretaste.send({command: 'chat', data: {userId: '<%= friend.id %>'}})">
                    </i>
                </a>
            </div>
        </div>
    </div>
    <% }) %>

    <% if(friends.length == 0){ %>
        <p class="middle-center center grey-text">Usted aún no tiene amigos para chatear.</p>
    <% } %>
</div>