<div class="row" style="margin-top: 1rem">
    <div class="col s12">
        <div class="tags">
            <div class="chip tiny">
                <i class="fa fa-user-alt"></i>
                <span id="chatsCounter">
					<%= chats.length %> <%= chats.length !== 1 ? 'conversaciones' : 'conversación' %>
				</span>
            </div>

            <span class="chip tiny" onclick="openSearch()">
                <i class="fas fa-search"></i>
                <span class="hide filter">
                    <input id="buscar" onkeyup="buscar()" type="" style="border: none;" onfocusout="closeSearch()">
                </span>
            </span>
        </div>
    </div>

    <div class="col s12">
        <ul class="collection profile" style="border: none">
            <% chats.forEach(function (chat) { %>
                <li class="collection-item avatar open-conversation" id="<%= chat.id %>" data-value="<%= chat.username %>" >
                    <% if (!chat.isInfluencer) { %>
                        <div class="person-avatar circle open-profile"
                             face="<%= chat.avatar %>"
                             color="<%= chat.avatarColor %>"
                             size="46" online="<%= chat.online ? 1 : 0 %>"
                             data-username = "<%= chat.username %>"
                        ></div>
                    <% } else { %>
                        <div class="person-avatar circle open-profile"
                             creator_image="{{APP_SERVICE_PATH}}/images/<%= chat.username %>.png"
                             state="gold"
                             color="<%= chat.avatarColor %>"
                             size="46" online="<%= chat.online ? 1 : 0 %>"
                             data-username = "<%= chat.username %>"
                        ></div>
                    <% } %>

                    <span class="<%= chat.gender %> open-profile" data-username = "<%= chat.username %>">
                        @<%= chat.username %>
                        <div class="chip tiny clear grey-text" style="margin-left: 5px;">
                            <i class="material-icons icon">perm_contact_calendar</i>
                            <%= chat.lastSent %>
                        </div>
                    </span>
                    <div>
                        <p class="lastMessage">
                            <% var lastNoteIsMine = !chat.lastNoteRead && chat.lastNoteUser != myUser %>
                            <% if(lastNoteIsMine){ %>
                                <b><%= chat.lastNote %></b>
                            <% } else { %>
                                <%= chat.lastNote %>
                            <% } %>
                        </p>
                    </div>
                    <div class="action">
                        <a class="secondary-content red-text second small delete-conversation"
                           data-id = "<%= chat.id %>"
                           data-username = "<%= chat.username %>">
                           <i class="fa fa-trash-alt"></i>
                        </a>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>

    <% if(chats.length === 0){ %>
        <p class="middle-center center grey-text">
            No tiene ninguna conversación abierta. Abra su <a onclick="apretaste.send({command: 'amigos'})">lista de
                amigos</a> y escoja un amigo para conversar.
        </p>
    <% } %>
</div>

<div id="deleteModal" class="modal" data-value="">
    <div class="modal-content">
        <p>
            ¿Está seguro que quiere borrar su conversación con @<span id="deleteModalUsername"></span>?
            Ninguno podrá ver los chats nunca más.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="deleteChat()" class="modal-close waves-effect waves-green btn-flat green-text">Eliminar</a>
    </div>
</div>