<div class="row" style="margin-bottom: 4rem">
	<div class="col s12">
		<ul class="collection" id="online-list">
			<%users.forEach(function(user){%>
				<li class="collection-item avatar noselect openuser" id="<%=user.id%>" username="<%=user.username%>">

				<div class="avatar circle"
					 style="background: <%= user.gender == "M" ? "dodgerblue" : (user.gender == "F" ? "#e61966" : "#707070") %>">
					<i class="material-icons">person</i>
				</div>

				<i class="material-icons online-icon">brightness_1</i>

				<span>
					<a class="black-text" onclick="apretaste.send({'command':'PERFIL','data':{'username':'<%=user.username%>'}})">@<%=user.username%></a>

					<br>
					<%if(user.age!=""){%>
						<%=user.age%> años ·
					<%}%>
					<%if(user.province!=""){%>
						<%=user.province%>
					<%}else{%>
						Cuba
					<%}%>

				</span>
				<a onclick="apretaste.send({'command':'CHAT', 'data':{'userId':'<%=user.id%>'}})" class="secondary-content"><i class="material-icons">message</i></a>
				</li>
			<%})%>
		</ul>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large">
		<i class="large material-icons">menu</i>
	</a>
	<ul>
		<li><a onclick="apretaste.send({'command':'CHAT'})" class="btn-floating"><i class="material-icons">arrow_back</i></a></li>
		<li><a href="#searchModal" class="btn-floating modal-trigger"><i class="material-icons">search</i></a></li>
	</ul>
</div>

<div id="searchModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="input-field">
          <textarea id="usernameToSearch" class="materialize-textarea"></textarea>
		  <label for="usernameToSearch">Buscar</label>
		  <span class="helper-text">Escriba un nombre de usuario</span>
    	</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="searchProfile()" class="modal-close waves-effect waves-green btn-flat">Buscar</a>
	</div>
</div>
