<div class="row">
    <% users.forEach(function(item){ %>
        <div class="col s4 m2">
            <div class="card center-align">
                <div class="content" onclick="profile('<%= item.username %>')">
                    <div class="person-avatar circle" face="<%= item.avatar %>" color="<%= item.avatarColor %>"
                         size="40" online="1"></div>
                    <div class="<%= item.gender %>">@<%= short(item.username) %></div>
                </div>
                <div class="action grey lighten-2 green-text">
                    <a href="#!">
                        <i class="material-icons"
                           onclick="addFriendModalOpen('<%= item.id %>', '<%= item.username %>')">
                            person_add
                        </i>
                    </a>
                </div>
            </div>
        </div>
    <% }) %>
</div>