<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Abiertos</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'CHAT SEARCH'})">Buscar</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'CHAT ONLINE'})">online</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<% chats.forEach(function(item){ %>
		<div class="col s4 m2">
			<div class="card center-align">
				<div class="content" onclick="profile('<%= item.username %>')">
					<div class="person-avatar circle" face="<%= item.avatar %>" color="<%= item.avatarColor %>" size="40" online="<%= item.online ? 1 : 0 %>"></div>
					<div class="<%= item.gender %>">
						@<%= item.username %>
						<div class="small grey-text "><%= item.last_sent %></div>
					</div>
				</div>
				<div class="action grey lighten-2 green-text">
					<i class="material-icons" onclick="chat('<%= item.id %>')">chat</i>
					<i class="material-icons" onclick="deleteModalOpen('<%= item.id %>', '<%= item.username %>')">delete</i>
				</div>
			</div>
		</div>
	<% }) %>
</div>

<div id="deleteModal" class="modal" data-value="">
	<div class="modal-content">
		<p>¿Eliminar cerrar este chat con @<span id="deleteModalUsername"></span>?</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
		<a onclick="deleteChat()" class="modal-close waves-effect waves-green btn-flat green-text">Eliminar</a>
	</div>
</div>