<div class="row">
	<div class="col s12">
		<% tags.forEach(function(tag) { %>
			<div class="chip tiny"><%= tag %></div>
		<% }) %>
	</div>

	<% users.forEach(function(item){ %>
		<div class="col s4 m2">
			<div class="card center-align">
				<div class="content" onclick="profile('<%= item.username %>')">
					<div class="person-avatar circle" face="<%= item.avatar %>" color="<%= item.avatarColor %>" size="40" online="<%= item.online %>"></div>
					<div class="<%= item.gender %>">@<%= short(item.username) %></div>
				</div>
				<div class="action grey lighten-2 green-text">
					<a href="#!" onclick="chat('<%= item.id %>')"><i class="material-icons tiny">chat</i></a>
				</div>
			</div>
		</div>
	<% }) %>
</div>

<div class="bottom-space"></div>

<div class="fixed-action-btn hide-on-share">
	<a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="apretaste.send({'command':'CHAT SEARCH'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>